 @model object 

@if (ViewBag.NumberOfMessages > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-success text-center">
                    <small>
                        <i class="far fa-comment fa-3x ml-3"></i>
                    </small>
                    <br>
                    <strong class="font-italic">
                        @ViewBag.NumberOfMessages
                        Tane Mesajınız Var
                    </strong>
                </div>
                <br>
                <div class="text-center">
                    <a asp-controller="Message" asp-action="MessagesFromStaff" class="btn btn-outline-warning">Mesajlara Git</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center text-danger">
        <small><i class="fas fa-comment-slash  fa-3x ml-3"></i></small>
        <br>
        <strong class="font-italic text-break">
            Herhangi Bir Mesaj Yok
        </strong>
    </div>
}

