@model Chase.Entities.DTOs.ReportDto

@{
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";

}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">Almış Olduğunuz Görevlerin Raporlarını Yazınız.</h5>
            <hr class="border-dark">
            <form method="post" asp-controller="StaffWorkOrder" asp-action="AddReport">
                <input type="hidden" asp-for="@Model.DutyId">
                <div class="form-group">
                    <input type="text" asp-for="@Model.ReportDefinition" class="form-control" placeholder="Rapor Açıklaması">
                </div>
                <br>
                <div class="form-group">
                    <textarea  asp-for="@Model.ReportDetail" class="form-control" placeholder="Rapor Detayı">
                  Rapor Detayı
                  </textarea>
                </div>
                <br>
                <div class="text-center">
                    <input type="submit" class="btn btn-success ml-5" onclick="return confirm('Başarılı Bir Şekil de Eklendi')" value="Rapor Ekle">
                    <a asp-controller="StaffWorkOrder" asp-action="TaskListOfStaff" class="btn btn-outline-dark">Vazgeç</a>
                </div>
            </form>


        </div>
    </div>
</div>