@model object

@if (ViewBag.NumberOfNotifications > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-success text-center">
                    <small>
                        <i class="fas fa-bell fa-3x ml-3"></i>
                    </small>
                    <br>
                    <strong class="font-italic">
                        @ViewBag.NumberOfNotifications
                        Tane Bildiriminiz Var
                    </strong>
                </div>
                <br>
                <div class="text-center">
                    <a asp-controller="Notification" asp-action="ListOfNotification" class="btn btn-outline-warning">Bildirimlere Git</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center text-danger">
        <small><i class="far fa-bell-slash fa-3x ml-3"></i></small>
        <br>
        <strong class="font-italic text-break">
            Herhangi Bir Bildirim Yok
        </strong>
    </div>
}